<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopping_online_prm392"
        tools:targetApi="31">
        <activity
            android:name=".activity.Checkout"
            android:exported="true" />
        <activity
            android:name=".activity.ProductByCategory"
            android:exported="false" />
        <activity
            android:name=".activity.CartDetail"
            android:exported="false" />
        <activity
            android:name=".activity.DetailProduct"
            android:exported="false" />
        <activity
            android:name=".activity.Setting"
            android:exported="false" />
        <activity
            android:name=".activity.Profile"
            android:exported="false" />
        <activity
            android:name=".activity.ManagerCategory"
            android:exported="false" />
        <activity
            android:name=".activity.Register"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.ManagerAccount"
            android:exported="false" />
        <activity
            android:name=".activity.Product"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://675618315582934:h6oNEO66omG3LJ_WRqL9-f3LGWk@dzak7lfgs" />
    </application>

</manifest>
